---
---

$header-bg-color: #fff;
$header-bg-color-secondary: #58a65c;

$section-headings-color: #58a65c;

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
