---
---

$header-bg-color: #1f750c;
$header-bg-color-secondary: #1f750c;

$section-headings-color: #1f750c;

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
